/*RESET CSS*/
@charset"utf-8";

* {padding:0px; margin:0px;}
ul,ol {list-style:none;}
a {text-decoration:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block; }
img,fieldset,iframe {border:0;}
img,fieldset,section { border:none; }
hr {display:none;}
input { vertical-align:middle; }
table{border-collapse: collapse;}