@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@font-face{font-family:"Maplestory Light"; src:url("../fonts/Maplestory-Light.woff")}
@font-face{font-family:"LemonMilk"; src:url("../fonts/LemonMilk.otf")}
.row {display: none;}
/* row_1 */
#row_1 {position: relative; top: 50px; text-align: center;}
#main_img {width: 70%;}
#main_text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 20%; display: none;}
#row_1 span {position: absolute; display:block; bottom:0%; left:50%; transform: translateX(-50%); font-size: 20px; font-family: 'Nanum Gothic', sans-serif; font-weight: bolder; letter-spacing: 3px;}
/* row_2 */
#row_2 {position: relative; overflow: hidden;}
#row_2 .col-md-12 {padding: 0;}
#row_2 img {position: relative; width: 100%;}
/* row_3 */
#row_3 {position: relative; top: -150px;}
.project {position:relative; height: 170px; padding: 0; transition: all 0.5s;}
.project:hover {background-color: rgba(230,230,230,0.5);}
.project span {display: inline-block; margin-right:1px; padding: 0 7px; border-radius: 10px; font-family: 'Nanum Gothic', sans-serif; color:#fff; background: #ab2bfa; font-size: 12px;}
.project > span {display: block; padding-top: 30px; margin-left: 20%; font-weight: bolder; font-size: 40px; color:#000; background: none;}
.project > p {margin-left: 20%; width: 800px;}
.project > p span:nth-child(1) {display:block; margin-bottom: 10px; font-size:16px; letter-spacing: -1px; color:#888; background: none;}
.project > p span:nth-child(2) {margin-left: 5px;}
.plus-to-minus {position: absolute; top: 50px; right: 25%; width: 60px; height: 60px; cursor: pointer; transition: -webkit-transform ease 400ms; transition: transform ease 400ms;}
.plus-to-minus:before, .plus-to-minus:after { content: ""; position: absolute; background-color: #666; border-radius: 10px;}
    /*세로*/
.plus-to-minus:before { left: 50%; margin-left: -2px; width: 4px; height: 60px;}
    /*가로*/
.plus-to-minus:after { top: 50%; margin-top: -2px; height: 4px; width: 60px; transition: -webkit-transform ease 400ms; transition: transform ease 400ms;}
.plus-to-minus.minus { -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}
.plus-to-minus.minus:after { -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}
    /* detail */
.detail {display:none;}
.detail button {width: 100%; height:50px; margin: 50px auto 0px auto; border: none; border-radius: 10px; background-color: #ab2bfa; font-size: 20px; color: #fff;}
.detail .period {display:block; margin-bottom: 50px; font-size:13px; font-family: 'Nanum Gothic', sans-serif; letter-spacing: -1px; color:#000; text-align: center; background: none;}
.detail .project_img {border: 2px solid #969696; padding: 1px;}
.detail p {display:block; height: 350px;}
.detail p .far {width: 30px; font-size: 18px; color: #ab2bfa;}
.detail span {display: inline-block; margin: 0; margin-bottom: 20px; padding: 0; font-family:"Maplestory Light", 'Hi Melody'; color:#444; background: none; font-size: 18px; text-align: left;}
.detail span:nth-child(1) {font-size: 32px; color:#000;}
#connect_1 {margin-bottom: 0;}
#connect_2 {margin-left: 35px;}
/* row_4 */
#row_4 {position: relative; top: -50px;}
#row_4 img {width: 100px;}
#row_4 span:nth-child(1) {display: block; font-size: 32px; color: #ab2bfa;}
#row_4 span:nth-child(2) {display: block; font-size: 12px; color: #a6a6a6;}
#row_4 .fas {width: 30px; font-size:20px; color: #ab2bfa; text-align: center;}
#row_4 span {display: inline-block; margin-top: 10px;font-size: 16px; font-family:"LemonMilk";}
#row_4 span a{font-size: 16px; color:#fff;}
#row_4 span a button {width: 200px; height: 50px; border: none;}
#row_4 span a #github {background: #666;}
#row_4 span a #blog {background: #ab2bfa;}


@media all and (max-width: 1020px) {
    #main_img {width: 90%;}
    #main_text {width: 20%;}
    #row_1 span {font-size: 16px;}
    #row_2 img {width: 200%; left: 65%; transform: translateX(-50%);}
    .project > span {margin-left: 10%; font-size: 35px;}
    .project > p {margin-left: 10%; width: 500px;}
    .plus-to-minus {right: 10%;}
}
@media all and (max-width: 600px) {
    #row_1 span {font-size: 12px;}
    .project > span {margin-left: 0; font-size: 22px;}
    .project > p {margin-left: 5px; width: 300px;}
    .project > p span:nth-child(1) {font-size:12px;}
    .project > p span:nth-child(2) {margin-left: 0;}
    .plus-to-minus {right: 5px; width: 30px; height: 30px;}
    .plus-to-minus:before {height: 30px;}
    .plus-to-minus:after {width: 30px;}
}