@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@font-face {font-family: "Maplestory Light"; src: url("../fonts/Maplestory Light.ttf")}
/* row_1 */
#row_1 .col-md-12 {height:1920px; background: url(../img/project_1_landing_main.jpg) no-repeat; background-size: contain;}
/* row_2 */


/* row_3 */


/* row_4 */